.g-container {
  column-count: 4;
  column-gap: 0.5vw;
  padding-top: 0.5vw;
}

.g-item {
  position: relative;
  width: 24vw;
  margin-bottom: 1vw;
  break-inside: avoid;
}

.g-item:nth-child(1) {
  height: 322px;
  background: #1a9420;
}

.g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(2) {
  height: 310px;
  background: #fca48f;
}

.g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(3) {
  height: 68px;
  background: #077cfe;
}

.g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(4) {
  height: 149px;
  background: #53b967;
}

.g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(5) {
  height: 175px;
  background: #aa8e85;
}

.g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(6) {
  height: 53px;
  background: #51b229;
}

.g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(7) {
  height: 180px;
  background: #dfe49b;
}

.g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(8) {
  height: 280px;
  background: #141162;
}

.g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(9) {
  height: 214px;
  background: #f11e39;
}

.g-item:nth-child(9)::after {
  content: "9";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(10) {
  height: 74px;
  background: #aa4e8b;
}

.g-item:nth-child(10)::after {
  content: "10";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(11) {
  height: 74px;
  background: #99c372;
}

.g-item:nth-child(11)::after {
  content: "11";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(12) {
  height: 84px;
  background: #7f8045;
}

.g-item:nth-child(12)::after {
  content: "12";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(13) {
  height: 328px;
  background: #635aa3;
}

.g-item:nth-child(13)::after {
  content: "13";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(14) {
  height: 245px;
  background: #0d5644;
}

.g-item:nth-child(14)::after {
  content: "14";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(15) {
  height: 231px;
  background: #5d04e7;
}

.g-item:nth-child(15)::after {
  content: "15";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(16) {
  height: 223px;
  background: #3c4d02;
}

.g-item:nth-child(16)::after {
  content: "16";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(17) {
  height: 243px;
  background: #2168a7;
}

.g-item:nth-child(17)::after {
  content: "17";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(18) {
  height: 64px;
  background: #d9fd78;
}

.g-item:nth-child(18)::after {
  content: "18";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(19) {
  height: 240px;
  background: #bb5dec;
}

.g-item:nth-child(19)::after {
  content: "19";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(20) {
  height: 235px;
  background: #a40bbc;
}

.g-item:nth-child(20)::after {
  content: "20";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(21) {
  height: 350px;
  background: #97365c;
}

.g-item:nth-child(21)::after {
  content: "21";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(22) {
  height: 306px;
  background: #8f5006;
}

.g-item:nth-child(22)::after {
  content: "22";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(23) {
  height: 162px;
  background: #026a21;
}

.g-item:nth-child(23)::after {
  content: "23";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(24) {
  height: 249px;
  background: #2f75f9;
}

.g-item:nth-child(24)::after {
  content: "24";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(25) {
  height: 172px;
  background: #62eae1;
}

.g-item:nth-child(25)::after {
  content: "25";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(26) {
  height: 343px;
  background: #5edfc2;
}

.g-item:nth-child(26)::after {
  content: "26";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(27) {
  height: 206px;
  background: #02349e;
}

.g-item:nth-child(27)::after {
  content: "27";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(28) {
  height: 137px;
  background: #6b8f8e;
}

.g-item:nth-child(28)::after {
  content: "28";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(29) {
  height: 215px;
  background: #044241;
}

.g-item:nth-child(29)::after {
  content: "29";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(30) {
  height: 319px;
  background: #dec544;
}

.g-item:nth-child(30)::after {
  content: "30";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(31) {
  height: 211px;
  background: #ac6da9;
}

.g-item:nth-child(31)::after {
  content: "31";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(32) {
  height: 186px;
  background: #7a457f;
}

.g-item:nth-child(32)::after {
  content: "32";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
