.g-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.g-queue {
  display: flex;
  flex-direction: column;
  flex-basis: 24%;
}

.g-item {
  position: relative;
  width: 100%;
  margin: 2.5% 0;
}

.g-queue:nth-child(1) .g-item:nth-child(1) {
  height: 213px;
  background: #9256ca;
}

.g-queue:nth-child(1) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(2) {
  height: 70px;
  background: #64fbac;
}

.g-queue:nth-child(1) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(3) {
  height: 321px;
  background: #c5054f;
}

.g-queue:nth-child(1) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(4) {
  height: 243px;
  background: #88324d;
}

.g-queue:nth-child(1) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(5) {
  height: 270px;
  background: #7e8bab;
}

.g-queue:nth-child(1) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(6) {
  height: 277px;
  background: #2d7a0f;
}

.g-queue:nth-child(1) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(7) {
  height: 228px;
  background: #8a6595;
}

.g-queue:nth-child(1) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(8) {
  height: 210px;
  background: #fa04c3;
}

.g-queue:nth-child(1) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(1) {
  height: 139px;
  background: #410f42;
}

.g-queue:nth-child(2) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(2) {
  height: 280px;
  background: #1e1586;
}

.g-queue:nth-child(2) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(3) {
  height: 63px;
  background: #fe7b40;
}

.g-queue:nth-child(2) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(4) {
  height: 281px;
  background: #97b1a8;
}

.g-queue:nth-child(2) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(5) {
  height: 158px;
  background: #57f131;
}

.g-queue:nth-child(2) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(6) {
  height: 140px;
  background: #a152f4;
}

.g-queue:nth-child(2) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(7) {
  height: 181px;
  background: #45e973;
}

.g-queue:nth-child(2) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(8) {
  height: 277px;
  background: #338bc5;
}

.g-queue:nth-child(2) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(1) {
  height: 127px;
  background: #29765d;
}

.g-queue:nth-child(3) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(2) {
  height: 345px;
  background: #b327be;
}

.g-queue:nth-child(3) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(3) {
  height: 130px;
  background: #e30da3;
}

.g-queue:nth-child(3) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(4) {
  height: 171px;
  background: #e60509;
}

.g-queue:nth-child(3) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(5) {
  height: 328px;
  background: #b0cc5d;
}

.g-queue:nth-child(3) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(6) {
  height: 201px;
  background: #2e02d4;
}

.g-queue:nth-child(3) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(7) {
  height: 58px;
  background: #6a7921;
}

.g-queue:nth-child(3) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(8) {
  height: 349px;
  background: #879fc6;
}

.g-queue:nth-child(3) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(1) {
  height: 306px;
  background: #81acca;
}

.g-queue:nth-child(4) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(2) {
  height: 196px;
  background: #0a357a;
}

.g-queue:nth-child(4) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(3) {
  height: 267px;
  background: #868fad;
}

.g-queue:nth-child(4) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(4) {
  height: 299px;
  background: #cea82a;
}

.g-queue:nth-child(4) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(5) {
  height: 310px;
  background: #9d86b2;
}

.g-queue:nth-child(4) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(6) {
  height: 220px;
  background: #84e6ff;
}

.g-queue:nth-child(4) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(7) {
  height: 284px;
  background: #eb3f6d;
}

.g-queue:nth-child(4) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(8) {
  height: 339px;
  background: #763bc6;
}

.g-queue:nth-child(4) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
